* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 30px;
}

#budget {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border: solid 1px green;
}

#depense {
    width: 50%;
    height: 700px;
    border: ridge 10px #721925;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.depenses {
    width: 50%;
    height: 5%;
    font-size: 0.7em;
    margin-left: 20px;
}

input {
    width: 15%;
    height: 25px;
}

#divTotaldepenses {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ligne {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calcDepenses {
    margin-right: 50px;
    padding: 5px;
}

#recettes {
    width: 100%;
    height: 300px;
    border: ridge 10px #721925;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.recettes {
    width: 50%;
    height: 5%;
    font-size: 0.7em;
    margin-left: 20px;
}

#divTotalRecette {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calcRecette {
    margin-right: 50px;
    padding: 5px;
}

#epargne {
    width: 100%;
    height: 200px;
    border: ridge 10px #721925;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#divTotalEpargne{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calcEpargne {
    margin-right: 50px;
    padding: 5px;
}

#divResultat {
    width: 100%;
    height: 200px;
    border: ridge 10px #721925;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#totalResultat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calcResultat {
    margin-right: 50px;
    padding: 5px;
}
